# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
myenv/

# packages
insightface/
.insightface/

# Environment variables
.env

# IDE/editor settings
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/